body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: vh;
    overflow: hidden;
}
@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.sidebar {
    background: linear-gradient(270deg, #0033cc, #66b2ff, #0033cc);
    background-size: 600% 600%;
    animation: gradientBackground 30s ease infinite;
    color: white;
    width: 250px;
    padding: 20px;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
}
.sidebar h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding-bottom: 10px;
}
.menu {
    list-style: none;
    padding: 0;
}
.menu li {
    margin-bottom: 10px;
}
.menu a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: rgba(0, 82, 204, 0.9);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, padding-left 0.3s;
}
.menu a:hover {
    background-color: #ffcc00;
    color: #000000;
    padding-left: 20px;
}
.menu a i {
    margin-right: 12px;
}
.menu li:nth-child(1) a i {
    color: #ff6347; /* Tomate (rojo) para "Inicio" */
}
.menu li:nth-child(2) a i {
    color: #ffd700; /* Oro (amarillo) para "Registro de Cita" */
}
.menu li:nth-child(3) a i {
    color: #1e90ff; /* DodgerBlue (azul) para "Horarios" */
}
.menu li:nth-child(4) a i {
    color: #4b0082; /* Índigo (morado) para "Perfil" */
}
.menu li:nth-child(4) .submenu a i {
    color: #b211e3; /* Índigo (morado) para "Mi Perfil" */
}
.submenu {
    display: none;
    margin-left: 20px;
}
.menu li:hover .submenu {
    display: block;
}
.menu li > a::after {
    content: none; /* Elimina el contenido de la flecha */
}
.sidebar h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.menu a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.menu a i {
    font-size: 1.2rem;
}