.perfil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .card {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #007bff;
    color: white;
    font-size: 1.5em;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .list-group-item {
    border: none;
  }
  
  .list-group-item a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .list-group-item a:hover {
    text-decoration: underline;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: #f0f0f0;
  }
  .sidebar {
    background: linear-gradient(to bottom, #66b2ff, #0052cc);
    color: white;
    width: 250px;
    padding: 20px;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: width 0.3s;
  }
  .sidebar h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding-bottom: 10px;
  }
  .menu {
    list-style: none;
    padding: 0;
  }
  .menu li {
    margin-bottom: 10px;
  }
  .menu a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: rgba(0, 82, 204, 0.9);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, padding-left 0.3s;
  }
  .menu a:hover {
    background-color: #ffcc00;
    color: #000000;
    padding-left: 20px;
  }
  .menu a i {
    margin-right: 12px;
  }
  .menu li:nth-child(1) a i {
    color: #ff6347; /* Tomate (rojo) para "Inicio" */
  }
  .menu li:nth-child(2) a i {
    color: #20b2aa; /* LightSeaGreen (verde) para "Registro de Citas Médicas" */
  }
  .menu li:nth-child(3) a i {
    color: #ffd700; /* Oro (amarillo) para "Registro de Cita" */
  }
  .menu li:nth-child(4) a i {
    color: #1e90ff; /* DodgerBlue (azul) para "Horarios" */
  }
  .menu li:nth-child(5) a i {
    color: #ff4500; /* NaranjaRojo (naranja) para "Recordatorios" */
  }
  .menu li:nth-child(6) a i {
    color: #4b0082; /* Índigo (morado) para "Perfil" */
  }
  .menu li:nth-child(6) .submenu a i {
    color: #b211e3; /* Índigo (morado) para "Mi Perfil" y "Configuración del Sistema" */
  }
  .menu li:nth-child(7) a i {
    color: #32cd32; /* LimeGreen (verde) para "Registrarse" */
  }
  .submenu {
    display: none;
    margin-left: 20px;
  }
  .menu li:hover .submenu {
    display: block;
  }
  /* Estilos adicionales para mayor atractivo */
  .sidebar h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .menu a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  .menu a i {
    font-size: 1.2rem;
  }
  