<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
       
    </style>
</head>
<body>
    <div class="sidebar">
        <h1>Admin Panel</h1>
        <ul class="menu">
            <li><a href="/inicio-administrador"><i class="fas fa-home"></i>Agregar administrador</a></li>
            <li><a href="/administrar-horario"><i class="fas fa-edit"></i>Administrar horarios</a></li>
            <li><a href="/administrar-doctores"><i class="fas fa-edit"></i>Agregar doctor</a></li>
            <li><a href="/ver-doctores"><i class="fas fa-edit"></i>Ver doctores</a></li>
            <li><a href="/inicio"><i class="fas fa-sign-out-alt"></i>Salir</a></li>
        </ul>
    </div>
</body>
</html>