.perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}

.card {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #007bff;
  color: white;
  font-size: 1.5em;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.list-group-item {
  border: none;
}

.list-group-item a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.2em;
}

.list-group-item a:hover {
  text-decoration: underline;
}
