<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto de Salud Pública del Estado de Guanajuato</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrQd3sNGUR6JtG+Mq7S2EJGOSw2AtJ1yP4Ih9CFKk3GxdV4X0W1o+E6n2xScyE9vYGL5wQJx48k45aBYcg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
       
    </style>
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="/login"><i class="fas fa-sign-in-alt icon"></i>Iniciar sesión</a></li>
            <li><a href="/registro-paciente"><i class="fas fa-user-plus icon"></i>Registrarse</a></li>
            <li><a href="/inicio-paciente"><i></i>Paciente</a></li>
            <li><a href="/inicio-doctor"><i></i>Doctor</a></li>
            <li><a href="/inicio-administrador"><i></i>Administrador</a></li>
        </ul>
    </div>

    <div class="container">
        <h1>Instituto de Salud Pública del Estado de Guanajuato</h1>
        
        <p>Somos un organismo público descentralizado de la Administración Pública Estatal con personalidad jurídica y patrimonio propios, el cual cuenta con autonomía para el manejo de sus recursos humanos, materiales y financieros, identificado mediante sus siglas "ISAPEG". La Secretaría de Salud de Guanajuato ("SSG") tiene la finalidad de posicionar la ética como esencia en el ejercicio de los servidores públicos a través de los siguientes preceptos y valores:</p>
        
        <h2>Valores</h2>
        <ul>
            <li><strong>Integridad:</strong> Ser un servidor público honesto que genera confianza y actúa en congruencia con la normatividad que nos rige.</li>
            <li><strong>Compromiso:</strong> Convicción y firme disposición de actuar para contribuir al logro de los objetivos institucionales y la conservación del medio ambiente.</li>
            <li><strong>Empatía:</strong> Reconocer, comprender y apreciar las necesidades y/o requerimientos de la población a la que atendemos para otorgar un servicio de calidad y calidez.</li>
            <li><strong>Respeto:</strong> Acciones de atención y convivencia en pro de la igualdad y no discriminación.</li>
            <li><strong>Lealtad:</strong> Corresponder a la confianza que el ISAPEG ha conferido, tener una vocación de servicio a la sociedad por encima de los intereses particulares o personales.</li>
        </ul>
        
        <h2>Misión</h2>
        <p>Somos una institución con profesionales íntegros y comprometidos con la salud de la población, a través de servicios vanguardistas y de calidad.</p>
        
        <h2>Visión</h2>
        <p>Compartir nuestra pasión e inspiración para consolidarnos como referente nacional en salud pública, atención médica y generación de conocimiento, a través del acceso efectivo, con servicios de calidad y reducción de riesgos mediante la participación de la sociedad.</p>
        
        <div class="image-container">
            <img id="myImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgfGzEQUiNKED-sY9y-HMahCJ-oODnmQRi8w&s" alt="Imagen representativa">
        </div>
    </div>

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <button class="back-button" onclick="closeModal()">Regresar</button>
    </div>

    <script>
        var modal = document.getElementById('myModal');
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        var span = document.getElementsByClassName("close")[0];

        img.onclick = function() {
            modal.style.display = "block";
            modalImg.src = this.src;
        }

        span.onclick = function() { 
            modal.style.display = "none";
        }

        function closeModal() {
            modal.style.display = "none";
        }
    </script>
</body>
</html>

