<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Citas Médicas Agendadas</title>
  <style>
   
  </style>
</head>
<app-panel-paciente></app-panel-paciente>
<body>
 <!-- inicio-paciente.component.html -->

<div class="container">
  <h1>Citas Agendadas</h1>
  <table>
    <thead>
      <tr>
        <th>Hora</th>
        <th>Día</th>
        <th>Nom. Doctor</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of citas">
        <td>{{ cita.hora }}</td>
        <td>{{ cita.fecha }}</td>
        <td>{{ cita.nombre_doc }}</td>
        <td><button class="cancel-button" (click)="cancelarCita(cita.id_cita)">Cancelar</button></td>
      </tr>
      <tr *ngIf="citas.length === 0">
        <td colspan="4" class="no-data">No hay citas agendadas.</td>
      </tr>
    </tbody>
  </table>
</div>
