<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar nuevo administrador</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<app-panel-administrador></app-panel-administrador>
<body>
    <div class="main-content">
        <div class="container">
            <h1>Agregar nuevo administrador</h1>
            <form id="adminForm">
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" maxlength="20" pattern="[A-Za-z\s]+" title="El usuario solo puede contener letras y espacios" required><br><br>

                <label for="nombre">Nombre completo del administrador:</label>
                <input type="text" id="nombre" name="nombre" maxlength="50" pattern="[A-Za-z\s]+" title="El nombre solo puede contener letras y espacios" required><br><br>

                <div class="button-container">
                    <button type="submit">Agregar administrador</button>
                    <button type="reset">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="sidebar">
        <div class="footer">
            <p>CAISES San Luis de la Paz</p>
            <p>Dirección: Calle Velasco Ibarra & Calle México 68, La Ladrillera, 37906 San Luis de la Paz, Gto.</p>
            <p>Teléfono: 468 688 2045</p>
            <p>Horario: 8 a.m. a 10 p.m.</p>
        </div>
    </div>
</body>
</html>
