<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <app-panel-doctor></app-panel-doctor>
    <div class="profile-container">
        <div class="profile-header">
            <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png" alt="Profile Picture">
            <h2>Perfil paciente</h2>
            <p>
                {{paciente.nom_paciente}}
            </p>
        </div>
        <div class="profile-info">
            <h3>Información Personal</h3>
            <form id="profileForm">
                <table>
                    <tr>
                        <th>Nombre</th>
                        <td><input type="text" id="name" name="name" [(ngModel)]="paciente.nom_paciente" required></td>
                    </tr> 
                    <tr>
                        <th>Edad</th>
                        <td><input type="number" id="age" name="age" [(ngModel)]="paciente.fecha_nac" required></td>
                    </tr>
                    <tr>
                        <th>Género</th>
                        <td><input type="genero" id="genero" name="genero" [(ngModel)]="paciente.genero" readonly></td>

                    </tr>
                    <tr>
                        <th>Dirección</th>
                        <td><input type="text" id="address" name="address" [(ngModel)]="paciente.direccion" required></td>
                    </tr>
                    <tr>
                        <th>Teléfono</th>
                        <td><input type="tel" id="phone" name="phone" [(ngModel)]="paciente.num_telefono" required></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><input type="email" id="email" name="email" [(ngModel)]="paciente.correo_electronico" required></td>
                    </tr>
                    <tr>
                        <th>Tipo de sangre</th>
                        <td><input type="text" id="blood-type" name="blood-type" [(ngModel)]="paciente.tipo_sangre" readonly></td>
                    </tr>
                </table>
                <div class="form-actions" style="margin-top: 20px;">
                    <button class="btn btn-success btn-block" (click)="edit ? updatePaciente() : saveNewPaciente()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <p>CAISES San Luis de la Paz</p>
        <p>Horario: 8 a.m. a 10 p.m.</p>
    </div>
    <script>
        document.getElementById('profileForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Evita el envío tradicional del formulario
            
            // Aquí puedes agregar la lógica para manejar el formulario, como enviar los datos a un servidor

            alert('Datos guardados con éxito.');
        });
    </script>
</body>
</html>



