body {
    background-image: url('https://thumbs.dreamstime.com/b/fondo-m%C3%A9dico-y-de-la-atenci%C3%B3n-sanitaria-ecg-monitor-azul-del-pulso-coraz-n-con-se-al-el-coraz%C3%B3n-bati%C3%B3-154045262.jpg'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}
.container {
    width: 90%;
    max-width: 500px;
    background-color: rgba(198, 230, 245, 0.9); /* Ajusta la opacidad del fondo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
}
.logo {
    max-width: 100px;
    margin: 0 auto 20px auto;
}
h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
    font-size: 24px;
}
.pregunta-container {
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: 700;
}
input[type="text"], input[type="email"], select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.radio-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.radio-container div {
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.radio-container input {
    display: none;
}
.radio-container label {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
}
.radio-container input:checked + label {
    background: #0056b3;
}
.radio-container input#no:checked + label {
    background: red;
}
button, .home-button, .link-button, .secondary-button {
    display: block;
    width: 80px;
    padding: 5px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}
button:hover, .home-button:hover, .link-button:hover, .secondary-button:hover {
    background: #0056b3;
}
.hidden {
    display: none;
}
.additional-fields {
    display: none;
    margin-top: 10px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
button[type="submit"] {
    background: green;
}
button[type="submit"]:hover {
    background: darkgreen;
}
.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
.footer p {
    margin: 5px 0;
}